# OpenOCD configuration for Tracker board (STM32U575RGT6)
# Interface: ST-Link v3 (or compatible SWD probe)

source [find interface/stlink-dap.cfg]

set WORKAREASIZE 0x4000

transport select "dapdirect_swd"

set CHIPNAME STM32U575RGTx
set BOARDNAME tracker

set ENABLE_LOW_POWER 1
set STOP_WATCHDOG 1
set CLOCK_FREQ 8000

reset_config none
set CONNECT_UNDER_RESET 0
set CORE_RESET 0

set AP_NUM 0
set GDB_PORT 3333

source [find target/stm32u5x.cfg]

$_TARGETNAME configure -event gdb-attach {
    echo "Debugger attaching: halting execution"
    reset halt
    gdb_breakpoint_override hard
}

$_TARGETNAME configure -event gdb-detach {
    echo "Debugger detaching: resuming execution"
    resume
}
